:root {
  --base00: #12151a;
  --base01: #181c22;
  --base02: #242a33;
  --base03: #687383;
  --base04: #a4adba;
  --base05: #d8dee9;
  --base06: #e5e9f0;
  --base07: #ffffff;
  --base08: #ff6b7a;
  --base09: #f6aa5c;
  --base0A: #f2d56b;
  --base0B: #62d6b5;
  --base0C: #72e1e1;
  --base0D: #7aa2f7;
  --base0E: #c099ff;
  --base0F: #d08770;
}
