{{- $isOnionBuild := strings.Contains site.BaseURL ".onion" -}}
{{- $isNoJS := strings.HasPrefix .RelPermalink "/nojs/" -}}

{{- if and (not $isOnionBuild) (not $isNoJS) -}}
<section class="aside__snowflake" aria-label="Tor Snowflake proxy">
  <div class="aside__snowflake-viewport">
    <iframe
      src="https://embed-snowflake.torproject.org/"
      width="320"
      height="240"
      loading="lazy"
      referrerpolicy="no-referrer"
      title="Run a Tor Snowflake proxy from this browser">
    </iframe>
  </div>
</section>
{{- end -}}
